@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
	html {
		scroll-behavior: auto;
	}
}
* {
	font-family: var(--font-nunito), sans-serif;
}

.scrollbar::-webkit-scrollbar {
	width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 6px;
	background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
	background: #dbdadd;
	border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
	background: #dbdadd;
}
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	:root {
		--card: 0 0% 100%;
		--card-foreground: 222.2 47.4% 11.2%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--primary: 0 0% 20%;
		--primary-foreground: 210 40% 98%;

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;

		--border: 214.3 31.8% 91.4%;
		--input: 217 91% 60%;
		--ring: 221 83% 53%;
		--radius: 10px;
	}
	.dark {
		--card: 0 0% 100%;
		--card-foreground: 20 14.3% 4.1%;

		--popover: 0 0% 100%;
		--popover-foreground: 20 14.3% 4.1%;

		--primary: 0 0% 100%;
		--primary-foreground: 60 9.1% 97.8%;

		--secondary: 32 100% 98%;
		--secondary-foreground: 24 9.8% 10%;

		--muted: 60 4.8% 95.9%;
		--muted-foreground: 25 5.3% 44.7%;

		--accent: 60 4.8% 95.9%;
		--accent-foreground: 24 9.8% 10%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 60 9.1% 97.8%;

		--border: 20 5.9% 90%;
		--input: 217 91% 60%;
		--ring: 221 83% 53%;
		--radius: 18px;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

